@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Playfair+Display:wght@500;700;800&display=swap");

:root {
  /* COLORS VARIABLES */
  --NotSoDark: hsl(40, 5%, 11%);
  --LightGray: hsl(42, 4.5%, 43.9%);
  --Beige-Gray: hsl(44.2, 20.9%, 82.2%);
  --LightBeige: hsl(42.9, 51.2%, 92%);
  --Beige: hsl(43.6, 52.4%, 91.8%);
  --color: #333;
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: "Playfair Display", sans-serif;
}
.container {
  text-align: center;
  color: var(--NotSoDark);
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/imgBackgrounds/NinoLeaQuadro.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* ----------------------------------------------------------------------------NAV */
nav {
  background-color: #000000d9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
nav ul {
  display: flex;
  list-style: none;
  padding-right: 1.25rem;
  background-color: transparent;
  justify-content: flex-end;
}

nav li {
  text-transform: uppercase;
  justify-content: space-between;
  padding: 1.25rem;
  font-size: 1.125rem;
}

nav a {
  color: var(--LightBeige);
  text-decoration: none;
}
.menu a {
  position: relative;
  transition: color 0.3s ease;
  color: var(--LightBeige);
}

.menu a:hover {
  color: var(--Beige);
}
.menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: -0.313rem;
  left: 0;
  background-color: var(--Beige);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu a:hover::before {
  transform: scaleX(1);
}
.sidebar {
  display: none;
}
header input,
label {
  display: none;
}
/* ----------------------------------------------------------------------------Front */
.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--LightBeige);
}
.front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
}
.titolo1 {
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 0px 0.25rem 0.25rem #080808, 0 0 0 #000, 0px 0.25rem 0.25rem #000;
}
.container-artist {
  text-transform: uppercase;
  font-size: 5rem;
  text-shadow: 0rem 0.25rem 0.25rem #080808, 0 0 0 #000,
    0px 0.25rem 0.25rem #000;
}
.descr {
  width: 60%;
  font-size: 1.5rem;
  margin-top: 3.125rem;
}
/* --------------------------------------------------Blank */
.blank {
  width: 100%;
  min-height: 60vh;
  background: var(--NotSoDark);
}
/* ---------------------------------------------------------------------------Descrizione artisti */
.bFirst {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.images {
  position: relative;
  width: 20rem;
  height: 15rem;
  border-radius: 0.313rem;
  left: 20%;
}
.left-images {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
.desc-artisti {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 50%;
  padding: 2%;
  border-radius: 0.125rem;
  color: white;
  font-size: 1.25rem;
  text-shadow: 0rem 0.25rem 0.25rem #080808, 0 0 0 #000,
    0px 0.25rem 0.25rem #000;
}
.desc-artisti .cit {
  text-align: right;
  padding-top: 1.25rem;
  font-size: 0.938rem;
}

/* ---------------------------------------------------------------------------Second slide */
.second {
  background-image: url(../images/imgBackgrounds/BertocchiCollivaV2.png);
  background-attachment: fixed;
  height: 1200px;
}
/* ---------------------------------------------------------------------------Slideshow */
.s-container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  padding: 50px;
}
#slideshow {
  width: max-content;
  margin-top: 50px;
}
.item {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 60%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.item:nth-child(3) {
  left: 50%;
}
.item:nth-child(4) {
  left: calc(50% + 220px);
}
.item:nth-child(5) {
  left: calc(50% + 440px);
}
.item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}
.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
}
.item:nth-child(2) .content {
  overflow: hidden;
  display: block;
  z-index: 11111;
}
.item .name {
  font-size: 1.875rem;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px #000000, 0 0 0 #000, 0px 4px 4px #282323ba;
}
.item .des {
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
  text-shadow: 0px 4px 4px #060606, 0 0 0 #000, 0px 4px 4px #282323ba;
}
.item button {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}
@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
.buttons {
  position: relative;
  top: 80%;
  z-index: 222222;
  text-align: center;
  width: 100%;
}
.buttons button {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: 1px solid #5550;
  transition: 0.5s;
}
.buttons button:hover {
  background-color: #0000008a;
}
/* ------------------------------------------------------------------------- Blank 360 e YT */
.bSecond {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
}

.left-side {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.right {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.video_tour {
  width: 35rem;
  height: 19.688rem;
  cursor: pointer;
  object-fit: cover;
}
.left-side iframe {
  width: 35rem;
  height: 19.688rem;
  object-fit: cover;
}

/* Buttons ------------------------------------------------- */

.svg-wrapper {
  margin-top: 20px;
  color: white;
  overflow: hidden;
  position: relative;
  width: 190px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}

.shape {
  stroke-dasharray: 100 300;
  stroke-dashoffset: -297;
  fill: transparent;
  stroke: rgb(220, 9, 9);
  stroke-width: 5px;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-size: 22px;
  top: -48px;
  position: relative;
  font-weight: 600;
  text-shadow: 0px 4px 4px #000000, 0 0 0 #000, 0px 4px 4px #000000;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.svg-wrapper:hover {
  background-color: rgba(220, 20, 60, 0.2);
  transition: 1s;
}

.right .svg-wrapper {
  margin-top: 20px;
  color: white;
  overflow: hidden;
  position: relative;
  width: 190px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}

.right .shape {
  stroke-dasharray: 100 300;
  stroke-dashoffset: -297;
  fill: transparent;
  stroke: rgb(33 155 0);
  stroke-width: 5px;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.right .text {
  font-size: 22px;
  top: -48px;
  position: relative;
  font-weight: 600;
  text-shadow: 0px 4px 4px #000000, 0 0 0 #000, 0px 4px 4px #000000;
}

.right .svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.right .svg-wrapper:hover {
  background-color: rgb(51 220 20 / 20%);
  transition: 1s;
}

/* ----------------------------------------------------------------------------Slide Territorio */
.third {
  background-image: linear-gradient(to left, rgb(0 0 0 / 80%), rgb(0 0 0 / 0%)),
    url(../images/imgBackgrounds/1bom1920.jpg);
  background-attachment: fixed;
  height: 700px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}
.land-txt {
  color: hsl(46, 52%, 95%);
  margin-right: 10%;
  width: 50%;
  text-shadow: 0px 4px 4px #000000, 0 0 0 #000, 0px 4px 4px #000000;
}
.land-txt h1 {
  font-size: 5rem;
}
.land-txt p {
  font-size: 1.5rem;
  text-align: right;
}
/* ----------------------------------------------------------------------------- FOOTER */
.slide5 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  position: relative;
}
@keyframes scroll {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(calc(-250px * 5 * 2));
  }
}
.slider {
  background-color: hsl(44, 34%, 75%);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgb(47 47 47 / 60%) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite alternate;
  display: flex;
  justify-content: space-between;
  width: calc(260px * 14);
}
.slider .slide {
  overflow: hidden;
}
.slide-track img {
  cursor: pointer;
}

/* ------------------------------------------------------------Information */
.information * {
  color: var(--LightBeige);
}

.foot-container {
  margin-top: 15%;
  position: relative;
  bottom: 0;
  width: 100%;
  text-shadow: 0px 4px 4px #000000, 0 0 0 #000, 0px 4px 4px #000000;
}

.information {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  padding: 0.625rem;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.information h3 {
  font-size: 1.5em;
  padding-bottom: 0.625rem;
}

.information p {
  font-size: 1.125rem;
}

.attribution {
  padding-top: 4%;
  text-align: center;
  font-size: 0.8rem;
}

.attribution p {
  color: #fff;
  text-shadow: 0px 4px 4px #000000, 0 0 0 #000, 0px 4px 4px #000000;
}

/* -------------------------------------------------------Smartphone */

@media (max-height: 430px) {
  .menu ul {
    display: none;
  }
}

@media (max-width: 811px) {
  .menu ul {
    display: none;
  }
  /* Toglie l'effetto parallax sullo smartphone, ma lo alleggerisce */
  .container,
  .second,
  .third {
    background-attachment: scroll;
  }
  .container {
    background-image: url(../images/imgBackgrounds/La_siepe_verdeLG.png);
  }
  .second {
    background-image: url(../images/imgBackgrounds/imgBG2.png);
  }
  .third {
    background-image: linear-gradient(
        to left,
        rgb(0 0 0 / 80%),
        rgb(0 0 0 / 0%)
      ),
      url(../images/imgBackgrounds/1bom1920.jpg);
  }
  /* ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */
  .front {
    align-items: center;
  }
  .titolo1 {
    font-size: 1.5rem;
  }
  .container-artist {
    font-size: 2rem;
  }
  .descr {
    font-size: 1rem;
  }
  .bFirst {
    flex-direction: column;
  }
  .images {
    left: 0;
    width: 100%;
    height: 20%;
    margin-top: 20%;
  }
  .desc-artisti {
    width: 80%;
    font-size: 1.3rem;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .text {
    font-size: 18px;
  }
  .land-txt h1 {
    font-size: 2rem;
  }
  .land-txt p {
    font-size: 1rem;
    text-align: right;
  }
  .information h3 {
    font-size: 1em;
    padding-bottom: 0.625rem;
  }

  .information p {
    font-size: 0.7rem;
  }
  .s-container {
    width: 60%;
    height: 50%;
  }
  .item .content {
    left: 3%;
    width: 30%;
  }
  .item .name {
    font-size: 1rem;
  }
  .item .desc {
    font-size: 0.7rem;
  }
  .bSecond {
    flex-direction: column;
  }

  .left-side {
    align-self: center;
  }
  .right {
    align-self: center;
    margin-left: 6%;
  }
  .video_tour {
    width: 100%;
    height: 150px;
    margin-left: 7%;
  }
  .left-side iframe {
    width: 100%;
    height: 150px;
  }
  /* ----------------------------------------------Sidebar Menu */
  .sidebar,
  header input,
  label {
    display: block;
    z-index: 99;
  }
  .sidebar {
    position: fixed;
    right: -250px;
    width: 250px;
    height: 100%;
    background: var(--NotSoDark);
    transition: all 0.5s ease;
  }
  .sidebar header {
    font-size: 22px;
    color: var(--LightBeige);
    line-height: 70px;
    text-align: center;
    background: black;
    user-select: none;
    text-shadow: 0px 0.25rem 0.25rem #080808, 0 0 0 #000,
      0px 0.25rem 0.25rem #000;
  }
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: var(--LightBeige);
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s;
    text-decoration: none;
  }
  ul li:hover a {
    padding-left: 50px;
  }
  .sidebar ul a i {
    margin-right: 16px;
  }
  #check {
    display: none;
  }
  label #btn,
  label #cancel {
    position: fixed;
    background: var(--NotSoDark);
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn {
    right: 10px;
    top: 25px;
    font-size: 35px;
    color: var(--LightBeige);
    padding: 6px 12px;
    transition: all 0.5s;
  }
  label #cancel {
    z-index: 1111;
    right: -195px;
    top: 17px;
    font-size: 30px;
    color: var(--LightBeige);
    padding: 4px 9px;
    transition: all 0.5s ease;
  }
  #check:checked ~ .sidebar {
    right: 0;
  }
  #check:checked ~ label #btn {
    right: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    right: 195px;
  }
}
/* --------------------------------------------------------Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Stili per tablet */
}
/* -------------------------------------------------------Desktop */
@media (min-width: 1024px) {
}
